.main-content
{
    display: inline-block;
    position: relative;
    text-align: center;

}

p
{
    font-size: 20px;
    padding: 30px;
}

.navbar .navbar-content .menu
{
    display: none;
}

.navbar-content .menu a
{
    color: black;
    text-decoration: none;
}

.navbar-content .menu a:hover 
{
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}

@media screen and (min-width: 768px) {
    .navbar .navbar-content .menu
    {
        display: flex;
        align-items: center;
        justify-content: space-between;  
        margin: auto;
        width:300px;
    }
}
