:root 
{
    --main-primary-color: #4C4AE6;
    font-size: 16px; /* 1rem */
}

*
{
    box-sizing: border-box; 
}

body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.main-content
{
    width: 90%;
    margin: 0 auto;
    max-width: 992px;
}

.navbar
{
    padding: 20px 30px;
    background-color: var(--main-primary-color);
    font-size: 30px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    right: 0;
    left: 0;   
}

.navbar .navbar-content
{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

footer
{
    padding: 10px 10px;
    margin-top: auto;
    background-color: var(--main-primary-color);
  
}

.footer .footer-content
{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    margin: auto;
    width: 200px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
    .navbar .navbar-content
    {
        width: 90%;
        margin: 0 auto;
        max-width: 992px;
    }
}